/* My Awesome Styles */

/* Diagnostic Styling 
*Change Background Color
*Outline Elements
*/

*{
    outline: 1px dotted orange;
}

/* Global. Site. Base. Universal.*/

/* Homepage */
.home{
    background: teal;
}
/* Bio */
.bio{
    background: turquoise;
}

/* Contact */
.contact{
background: thistle;
}